@import "./_variable";

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 72px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1000;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);

    &:after {
        @include clear;
    }

    .inner {
        position: relative;
        @include inner;

        &:after {
            @include clear;
        }
    }

    .logo {
        float: left;
        margin: 14px 0 0 40px;

        a {
            display: block;
            width: 245px;
            height: 51px;
            background: url('../img/logo.png') no-repeat;
        }
    }

    .btn_gnb, .btn_close {
        display: none;
    }

    .gnb {
        float: right;
        margin-top: 38px;
        z-index: 100;

        .list_gnb {
            font-size: 20px;
            line-height: 20px;

            &:after {
                @include clear;
            }

            .item_gnb {
                float: left;
                position: relative;

                & + .item_gnb {
                    margin-left: 34px;
                }

                .link_gnb {
                    display: block;
                    font-size: 16px;
                    line-height: 18px;

                    &:after {
                        display: inline-block;
                        width: 14px;
                        height: 8px;
                        margin: 6px 0 0 6px;
                        background: url('../img/arrow.png') no-repeat;
                        vertical-align: top;
                        content: '';
                        transition: transform 0.3s;
                    }

                    &.on {
                        &:after {
                            transform: rotate(180deg);
                        }
                    }

                    &.on + {
                        .wrap_list_sub {
                            position: fixed;
                            top: 72px;
                            left: 0;
                            right: 0;
                            height: 200px;
                            background-color: rgba(255, 255, 255, 0.85);
                            overflow: hidden;

                            .list_sub {
                                display: flex;
                                flex-direction: column;
                                width: 1080px;
                                bottom: 30px;
                                margin: 0 auto;
                                flex-flow: column wrap;
                                box-sizing: border-box;
                                padding-left: 410px;
    
                                li {
                                    margin-bottom: 12px;
                                    font-size: 16px;
                                }

                                li.link_banner {
                                    position: absolute;
                                    top: 0;
                                    right: 40px;
                                    
                                    a {
                                        display: inline-block;
                                        vertical-align: top;
                                    }

                                    a img {
                                        vertical-align: top;
                                    }
                                }

                                li.link_banner.recruit {
                                    top: 26px;
                                    right: 110px;
                                }

                                .none_link {
                                    color: #aaa;
                                }
                            }
                        }
                    }
                }

                .list_sub {
                    display: none;
                    position: absolute;
                    top: 30px;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

/* Tablet Style */
@include Tablet {
    .header {
        height: 68px;
        
        .inner{
            width: 100%;
            padding: 0 40px;
            box-sizing: border-box;
        }

        .logo {
            margin: 7px 0 0 0;
        }

        
        .btn_gnb, .btn_close {
            display: block;
            position: absolute;
            top: 12px;
            right: 40px;
            width: 44px;
            height: 44px;
        }

        .btn_gnb {
            background: url("../img/menu.png") no-repeat;
        }

        .btn_close {
            background: url("../img/close.png") no-repeat;
        }

        .gnb {
            display:none;
            overflow-y: auto;
            float: none;
            margin-top: 0;
            position: fixed;
            top: 0;
            right: 0;
            left: 60px;
            bottom: 0;
            background-color: #fff;
            padding-top: 68px;

            &.on {
                display: block;

                &:before {
                    position: fixed;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    width: 60px;
                    background-color: rgba(0, 0, 0, 0.8);
                    content: '';
                }
            }
            
            .list_gnb {
                width: 100%;

                .item_gnb {
                    float: none;
                    width: 100%;

                    & + .item_gnb {
                        margin-left: 0;
                    }

                    .link_gnb {
                        padding: 0 20px;
                        background-color: #d5d5d5;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 52px;

                        &:after {
                            display: none;
                        }
                    }

                    .list_sub {
                        display: block;
                        position: relative;
                        top: 0;

                        .sub_link, .none_link {
                            display: block;
                            padding: 0 40px;
                            font-size: 14px;
                            line-height: 40px;
                        }

                        .none_link {
                            color: #aaa;
                        }
                    }

                    .list_sub li.link_banner a {
                        padding: 0;
                        margin: 10px 40px;
                        width: 50%;
                        min-width: 80%;
                    }
                }
            }
        }
    }
}

@include MobileSurface {
    .header {
        .inner {
            padding: 0 20px;
        }

        .btn_gnb, .btn_close {
            right: 20px;
        }
    }
}

@include Mobile {
    .header {
        .logo {
            a {
                width: 220px;
                height: 46px;
                background-size: contain;
                margin-top: 6px;
            }
        }
    }
}