.wrap {
  min-width: 1280px;
}

section .section_title {
  font-size: 36px;
  font-weight: bold;
  color: #58acda;
}
section .section_title .sub {
  padding: 0 10px;
  font-size: 30px;
  font-weight: 500;
  color: #9d9d9d;
}
section .section_title .sub.fullname {
  font-size: 20px;
  color: #fff;
}
section .section_desc {
  font-size: 12px;
  color: #999;
}
section .section_text {
  margin: 40px 40px 0;
  font-size: 18px;
  color: #5c6268;
  text-align: left;
  line-height: 24px;
}
section .img_list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  text-align: left;
}
section .img_list img {
  margin-right: 30px;
}
section .img_list .list_section {
  font-size: 16px;
  line-height: 28px;
}
section .img_list .list_section li, section .img_list .list_section dt {
  position: relative;
  padding-left: 12px;
}
section .img_list .list_section li::before, section .img_list .list_section dt::before {
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  vertical-align: top;
  content: "";
}
section .img_list .list_section dt {
  font-weight: bold;
}
section .img_list .list_section dd {
  font-size: 15px;
  margin-left: 12px;
}
section .img_list strong + .list_section {
  margin-top: 20px;
}

.inner {
  width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 82px;
  z-index: 10000;
}
header .inner {
  display: flex;
  padding: 0 40px;
}
header .link_logo {
  display: inline-block;
  margin: 10px auto 0 0;
  width: 236px;
  height: 61px;
  background: url(./../img/home_knowwheresoft/logo.png) no-repeat;
  vertical-align: top;
}
header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
}

nav .list_gnb {
  overflow: hidden;
  margin-top: 27px;
}
nav .list_gnb li {
  position: relative;
  float: left;
  margin-left: 24px;
}
nav .list_gnb li.on::after {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 2px;
  background-color: #58acda;
  content: "";
}
nav .list_gnb .link {
  display: block;
  padding: 12px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#section_banner {
  position: relative;
  height: 600px;
  padding-top: 82px;
  background: url(./../img/home_knowwheresoft/bg_top.png) no-repeat;
  box-sizing: border-box;
}
#section_banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  content: "";
}
#section_banner .inner {
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 1000;
}
#section_banner .wrap_banner {
  position: relative;
  overflow: hidden;
  width: 1100px;
  height: 363px;
  padding: 60px 0 24px;
  margin: 0 auto;
}
#section_banner .wrap_banner .list_banner {
  position: absolute;
  top: 60px;
  width: 3300px;
  height: 363px;
}
#section_banner .wrap_banner .item_banner {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
}
#section_banner .wrap_banner .item_banner:first-child img {
  margin-top: -90px;
}
#section_banner .wrap_banner .item_banner:nth-child(2) img {
  margin-right: 20px;
}
#section_banner .wrap_banner .item_banner:nth-child(3) img {
  margin-right: 30px;
}
#section_banner .wrap_banner .item_banner .wrap_banner_text {
  margin-left: 14px;
  text-align: left;
}
#section_banner .wrap_banner .item_banner .title {
  font-size: 40px;
  font-weight: 800;
  color: #58acda;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.42);
}
#section_banner .wrap_banner .item_banner .text {
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
}
#section_banner .wrap_banner .item_banner .text em {
  display: inline-block;
  margin-top: 20px;
  font-weight: 600;
  vertical-align: top;
}
#section_banner .wrap_btn {
  text-align: center;
}
#section_banner .wrap_btn button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  vertical-align: top;
  transition: 0.5s all;
}
#section_banner .wrap_btn button + button {
  margin-left: 5px;
}
#section_banner .wrap_btn button.on {
  width: 120px;
  border-radius: 10px;
}
#section_banner .list_text {
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
}
#section_banner .list_text li, #section_banner .list_text dt {
  position: relative;
  padding-left: 12px;
}
#section_banner .list_text li::before, #section_banner .list_text dt::before {
  position: absolute;
  top: 12px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: top;
  content: "";
}
#section_banner .list_text dt {
  font-weight: bold;
}
#section_banner .list_text dd {
  font-size: 15px;
  margin-left: 12px;
}

.section_works {
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}
.section_works .inner {
  padding-top: 10px;
  padding-bottom: 10px;
}
.section_works .list_works {
  overflow: hidden;
  margin: 15px 50px;
}
.section_works .list_works li {
  float: left;
  position: relative;
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_works .list_works li + li::after {
  position: absolute;
  top: 50%;
  left: -1px;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background-color: #ddd;
  content: "";
}
.section_works .list_works li .title {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}
.section_works .list_works li .title_eng {
  display: inline-block;
  margin-top: 10px;
  font-size: 11px;
  color: #bdbdbf;
  vertical-align: top;
}

#section_overview .list_overview {
  overflow: hidden;
  display: flex;
  margin: 38px -5px 0;
}
#section_overview .list_overview li {
  overflow: hidden;
  width: 25%;
  height: 320px;
  padding: 0 5px;
}
#section_overview .list_overview li:first-child .link_popup {
  background-image: url("./../img/home_knowwheresoft/overview_about.png");
}
#section_overview .list_overview li:nth-child(2) .link_popup {
  background-image: url("./../img/home_knowwheresoft/overview_culture.png");
}
#section_overview .list_overview li:nth-child(3) .link_popup {
  background-image: url("./../img/home_knowwheresoft/overview_organization.png");
}
#section_overview .list_overview li:nth-child(4) .link_popup {
  background-image: url("./../img/home_knowwheresoft/overview_history.png");
}
#section_overview .list_overview .link_popup {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
}
#section_overview .list_overview .link_popup .title {
  padding-top: 10px;
  border-top: 2px solid #fff;
  font-size: 18px;
}
#section_overview .list_overview .link_popup .more {
  margin: auto 0 0 auto;
  font-size: 14px;
}

#section_ai .section_desc {
  margin-top: 10px;
  color: #fff;
}
#section_ai .section_text {
  color: #fff;
}
#section_ai .img_list strong {
  color: #fff;
}
#section_ai .list_section {
  color: #fff;
}
#section_ai .list_section dt::before, #section_ai .list_section li::before {
  background-color: #fff;
}

#section_bigdata dt::before, #section_bigdata li::before {
  background-color: #000;
}

#section_monitoring .section_desc {
  color: #fff;
}
#section_monitoring .section_text {
  color: #fff;
}
#section_monitoring .list_section {
  color: #fff;
}
#section_monitoring .list_section dt::before, #section_monitoring .list_section li::before {
  background-color: #fff;
}

#section_solution {
  position: relative;
  height: 560px;
  background: url("./../img/home_knowwheresoft/bg_solution.png") no-repeat center;
  background-size: cover;
}
#section_solution .inner {
  position: relative;
}
#section_solution .wrap_banner {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  height: 360px;
}
#section_solution .wrap_banner .list_banner {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 3600px;
  height: 100%;
  z-index: 1;
}
#section_solution .wrap_banner .list_banner li {
  float: left;
  padding: 0 180px;
  width: 1200px !important;
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
#section_solution .wrap_banner .list_banner li .wrap_banner_text {
  margin-left: auto;
  max-width: initial;
}
#section_solution .wrap_banner .list_banner li .wrap_banner_text .banner_desc {
  line-height: 28px;
}
#section_solution .wrap_banner .list_banner li img[class^=banner] {
  position: absolute;
  top: 0;
}
#section_solution .wrap_banner .list_banner li img.banner1 {
  right: -100px;
}
#section_solution .wrap_banner .list_banner li img.banner2 {
  right: -80px;
}
#section_solution .wrap_banner .list_banner li img.banner3 {
  right: -120px;
}
#section_solution .wrap_banner .wrap_banner_text {
  position: relative;
  max-width: 580px;
  margin-top: 30px;
  color: #fff;
  text-align: left;
}
#section_solution .wrap_banner .banner_desc {
  max-width: 560px;
  margin-top: 10px;
  font-size: 20px;
  line-height: 38px;
}
#section_solution .wrap_banner .banner_desc.small {
  font-size: 14px;
  line-height: 28px;
}
#section_solution .wrap_banner .link_more {
  display: inline-block;
  margin-top: 30px;
  padding: 5px 10px;
  border: 1px solid #fff;
  font-size: 16px;
  vertical-align: top;
}
#section_solution button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 59px;
  height: 87px;
  z-index: 1;
}
#section_solution button.btn_pre {
  left: 0;
  background: url("./../img/home_knowwheresoft/solution_arrow_pre.png") no-repeat;
}
#section_solution button.btn_next {
  right: 0;
  background: url("./../img/home_knowwheresoft/solution_arrow_next.png") no-repeat;
}

#section_contact .section_title {
  margin-top: 60px;
}
#section_contact .desc_contact {
  position: relative;
  width: 1096px;
  margin: 50px auto -110px;
  padding: 20px 40px 16px;
  background-color: #383838;
  z-index: 1;
}
#section_contact .desc_contact img {
  float: left;
  margin-top: 21px;
}
#section_contact .desc_contact .info {
  overflow: hidden;
  padding-left: 70px;
  font-size: 14px;
  color: #fff;
  text-align: left;
  line-height: 26px;
}
#section_contact .map_area {
  height: 480px;
}

footer {
  height: 120px;
  background-color: #0a0d53;
  color: #fff;
}
footer .inner {
  display: flex;
  height: 100%;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}
footer address {
  overflow: hidden;
  font-size: 14px;
  text-align: left;
  line-height: 24px;
}
footer address span {
  float: right;
}
footer select[name=family_site] {
  background: 0;
  width: 154px;
  height: 29px;
  padding: 5px 8px;
  border-radius: 0;
  border: 2px solid #fff;
  color: #fff;
  font-size: 12px;
  outline: 0;
}
footer select[name=family_site] option {
  color: #000;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 20000;
}
.dim.on {
  display: block;
}
.dim .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 980px;
  height: 650px;
  padding: 60px 120px;
  background-color: #2d2d2d;
  color: #fff;
  box-sizing: border-box;
}
.dim .popup .title {
  display: block;
  color: #58acda;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
.dim .popup .sub {
  display: block;
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
}
.dim .popup .txt_area {
  margin-top: 40px;
  font-size: 18px;
  line-height: 26px;
}
.dim .popup .txt_area em {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
}
.dim .popup .list_table {
  margin-top: 28px;
  padding: 20px;
  border: 1px solid #fff;
  border-width: 1px 0;
}
.dim .popup .list_table .item {
  font-size: 14px;
  line-height: 26px;
}
.dim .popup .list_table .item em {
  display: inline-block;
  width: 135px;
  font-weight: bold;
}
.dim .btn_close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: url("./../img/home_knowwheresoft/icon_close.png") no-repeat;
  background-size: 50px 50px;
}

/*# sourceMappingURL=knowwhere.css.map */
